.study h1 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: .15rem;
}

.study a {
	text-transform: lowercase;
	text-decoration: underline;
}

.study p:first-of-type {
	font-family: serif;
	font-style: italic;
	text-align: left;
	font-size: .75rem;
	margin-top: 0;
}

.study p {
	line-height: 1.4rem;
	font-family: serif;
	text-align: justify;
}

.study {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color: #fff;
	border: 1px solid black;
	font-size: 1rem;
	padding: .75rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

button:hover {
	background-color: #000;
	color: #fff;
}

.web {
	display: none;
}

.web:last-of-type {
	display: block;
}

.images {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.images > img {
	margin: 1rem 0;
	border: 1px solid black;
	width: 100%;
}

@media (min-width: 700px) {
	.mobile {
		display: none;
	}

	.web {
		display: block;
	}

	.study p {
		text-align: left;
	}

	.images {
		flex-basis: 100%;
	}

	.images img {
		/*flex-basis: 35%;*/
		/*height: 20rem;*/
		/*padding: 1rem;*/
		width: 100%;
	}

	.study {
		max-width: 600px;
		margin: 2rem auto;
	}

}






